html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* small device: 480 
  tablet: 768 - 769
  screen: 1280;

*/
  body{
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    display: inline-flex;
    flex-direction: column;
    margin: 0;
    box-sizing: border-box;
   
  }

  .header{
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

  .header .logo-container .logo{
    padding: .8rem 1.3rem;
    font-weight: 700;
    margin-right: 3rem;
    font-size: 2rem;
    background: black;
    color: #ffff;
  }

  .header .navigation .navigation--container{
    display: flex;
    list-style: none;
  }

  .navigation--container .nav-items .nav-link{
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 5rem;
    color: black;
  }

  .header .toogle--in{
    margin-left: 5rem;
    margin-top: 2.5rem;
    cursor: pointer;
    visibility: hidden;
  }

  .toogle--in .gg-menu-right{
    transform: scale(1.1);
  }

  .main{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .main .section--front{
    background: #ecf0f1 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 15rem 0;
  }

  .section--front .heading--front{
    font-size: 15rem;
    letter-spacing: 8rem;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    margin-bottom: 5rem;
    padding-left: 3rem;
    }

  .section--front .heading-secondary-front{
    font-size: 6rem;
    text-transform: uppercase;
    margin: 1rem 0;
    letter-spacing: 3rem;
  }

  .welcome--texts{
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    margin: 0 auto;
  }

  .welcome--texts .paragraph--1 {
    margin: 0;
    text-transform: uppercase;
    color: #2980b9;
    font-size: 2rem;
    letter-spacing: 6px;
  }

  .welcome--texts .paragraph--2{
    margin: 0;
    text-transform: uppercase;
    font-size: 2rem;
    color: #2980b9;
    letter-spacing: 12px;
  }

  .icon-down{
    margin: 0 auto;
    margin-top: 10rem;
  }

  .gg-arrow-long-down{
    color: #2980b9;
    cursor: pointer;
    transition: all .3s;
  }

  .gg-arrow-long-down:hover{
    transform: translateY(5px);
  }

  .section--about{
    padding: 15rem 0;
    background: #ecf0f1;
  }

  .text-centers{
    text-transform: uppercase;
    font-size: 3rem;
    margin: 0 auto;
    position: relative;
  }

  .heading-primary--about{
    margin: 4rem 0;
    letter-spacing: 1rem;
    font-size: 9rem;
    color: #ecf0f1;
  }

  .paragraph--3{
    position: absolute;
    top: 5rem;
    left: 10rem;
    color: #2980b9;
  }

  .section--about{
    display: inline-flex;
  }

  .section--about .about--text{
    padding: 3rem 5rem;
    line-height: 3rem;
    text-align: justify;
    width: 50%;
    margin-right: 5rem;
  }

  .section--about .about-img{
    width: 50%;
  }

  .about-img img{
    width: 70%;
  }



  .btn-message{
    text-transform: uppercase;
    text-decoration: none;
    display: inline;
    padding: 2rem 4rem;
    color: #ffff;
    background: #2980b9;
    border-radius: 30rem;
  }

  .btn--message span{
    transition: all .3s;
  }
  .btn--message:hover span{
    transform: translateX(4px);
  }

  .paragraph--4{
    margin-bottom: 7rem;
  }

  .btn-message span{
    display: inline;
  }

  .section--work{
    padding: 5rem 0;
    background: #ecf0f1;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    
  }

  .section--work .project{
    margin: 2rem;
    background: #2980b9;
    padding: 4rem;
    color: #ecf0f1;
    text-transform: uppercase;
    letter-spacing: 3.5px;
  }

  .section--work .project img{
    width: 100%;
  }

  .section--contact{
    padding: 15rem 0;
    background-color: #ecf0f1;
    text-align: center;
  }

  .heading-secondary-contact{
    font-size: 4rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #2980b9;
  }

  .section--contact .paragraph--2{
    font-size: 2rem;
    margin: 0;
  }

  .section--contact .margin--bottom{
    margin-bottom: 7rem;
  }

  .footer{
    padding: 3rem 0;
    background: #ecf0f1;
    display: flex;
    justify-content: center;
  }

  .footer--social-link {
    display: flex;
  }

  .footer--social-link a{
    color: black;
    border-radius: 50%;
    margin-right: 5rem;
    margin-top: 1.5rem;
  }

  .footer p{
    font-size: 1.8rem;
    letter-spacing: 4px;
  }

  .footer p a{
    color: #2980b9;
    text-decoration: none;
  }

  .pop--up{
    height: 100vh;
    width: 100vw;
    background: #2980b9;
    position: fixed;
    top: 0;
    visibility: hidden;
  }

  .toogle-out{
    position: absolute;
    right: 3rem;
    top: 3rem;
    color: #ecf0f1;
    cursor: pointer;
  }

  .pop-up--nav{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
  }

  .nav--container{
    list-style: none;
    text-align: center;
  }

  .nav--item .nav--links{
    color: #ecf0f1;
    text-transform: uppercase;
    font-size: 2rem;
    text-decoration: none;
    padding: 2rem 5rem;
    transition: all .3s;
  }

  .nav--links:hover{
    color: #2980b9;
    background: #ecf0f1;
  }

  .nav--item{
    margin-bottom: 4rem;
  }

  @media only screen and (max-width: 992px) {
    .section--front .heading--front{
      font-size: 10rem;
      padding: 0;
    }

    .section--front .heading--secondary{
      font-size: 4rem;
    }

  }

  @media only screen and (max-width: 768px) {
    .section--front .heading--front{
      font-size: 6rem;
      letter-spacing: 17px;
      padding: 0;
    }

    .section--about{
      flex-wrap: wrap;
      display: flex;
      justify-content: center;
    }

    .section--work .about--text{
      width: 100%;
    }

    .section--work .about-img{
      width: 100%;
    }

    .about--text .paragraph--4{
      width: 100%;
    }

    .about-img img{
      width: 100%;
    }
    .section--front .heading--secondary-front{
      font-size: 2rem;
    }

    .welcome--texts .paragraph--2, .paragraph--1{
      letter-spacing: 2px;
    }
    .navigation{
      visibility: hidden;
    }

    .header .toogle--in{
      visibility: visible;
    }

    .header{
      margin-left: 3rem;
      margin-right: 7rem;
    }
    .welcome--texts{
      text-align: center;
      margin: 0;
      margin-right: 4rem;
    }

    .project{
      flex-shrink: 1;
    }
    
  }

  @media only screen and (max-width: 480px) {
    
  }