@charset "UTF-8";
.btn:visited, .btn:link {
  text-decoration: none;
  font-size: 1.6rem;
  margin-top: 6rem;
  padding: 2rem 5rem;
  border: 2px solid #64ffda;
  display: inline-block;
  border-radius: 4px;
  font-family: "PT Mono", monospace;
  color: #64ffda;
  transition: all .3s; }
  .btn:visited:hover, .btn:visited:active, .btn:link:hover, .btn:link:active {
    background: rgba(100, 255, 218, 0.15);
    transform: translateY(-3px);
    box-shadow: 0 1rem 3rem rgba(51, 63, 88, 0.15); }

.image__container {
  width: 100%; }
  .image__container img {
    width: 100%; }

.project--container {
  width: 100%;
  margin: 3rem 0; }
  .project--container--image {
    z-index: -1;
    width: 58.5rem; }
  .project--container--text {
    z-index: 99; }
    .project--container--text-right {
      text-align: right; }

.heading__feature {
  text-align: right; }
  .heading__feature h4 {
    margin-bottom: 1rem !important; }

.feature__paragraph {
  padding: 2.5rem 1.5rem;
  padding-left: 4rem !important;
  font-size: 1.6rem;
  text-align: right;
  margin: 1rem 0;
  background: #172a45;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  z-index: 99; }

.feature__list {
  text-align: right; }
  .feature__list ul {
    font-size: 1.6rem;
    font-family: "PT Mono", monospace;
    list-style: none; }
    .feature__list ul li {
      display: inline-block;
      color: #8892b0; }
      .feature__list ul li:not(:last-child) {
        margin-right: 2rem; }

.project__container--image {
  position: relative; }

.feature--image {
  background-repeat: no-repeat;
  width: 57.9rem;
  height: 36.8rem;
  border-radius: 4px;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2); }
  .feature--image-1 {
    background: linear-gradient(to right bottom, rgba(23, 42, 69, 0.8), rgba(23, 42, 69, 0.5)), url(../img/bugety.jpg);
    background-size: 100% 100%;
    z-index: -1; }
  .feature--image-2 {
    background: linear-gradient(to right bottom, rgba(23, 42, 69, 0.8), rgba(23, 42, 69, 0.5)), url(../img/natours.jpg);
    background-size: contain;
    background-size: 100% 0;
    z-index: -1; }

.header {
  height: 2rem;
  padding: 3rem 10rem; }
  .header__logo {
    width: 4rem;
    height: 4rem;
    text-align: center;
    border: 3px solid #64ffda;
    position: relative;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); }
    .header__logo span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.6rem;
      font-family: "Noto Sans TC", sans-serif;
      font-weight: 800;
      cursor: pointer;
      transition: all .3s; }
    .header__logo:hover {
      background: rgba(100, 255, 218, 0.15); }
  .header__navigation {
    text-align: right; }
    .header__navigation-container {
      list-style: none; }
      .header__navigation-container--list {
        display: inline-block;
        font-size: 1.6rem;
        font-family: "PT Mono", monospace; }
      .header__navigation-container--link {
        text-decoration: none;
        color: #ccd6f6;
        margin-right: 2rem;
        transition: all .3s; }
        .header__navigation-container--link span {
          padding-right: 1rem;
          color: #64ffda; }
        .header__navigation-container--link:hover {
          color: #64ffda; }

.main {
  position: relative; }

.section--hero {
  padding: 7rem 18rem; }

.section--about {
  padding: 15rem 18rem; }
  .section--about__list {
    width: 100%;
    display: flex;
    font-size: 1.6rem;
    flex-wrap: wrap; }
  .section--about__item :not(:last-child) {
    padding-right: 4rem; }
  .section--about__item p {
    margin-bottom: 2rem;
    position: relative;
    padding-left: 2rem; }
    .section--about__item p::after {
      content: "▹";
      display: table;
      position: absolute;
      top: -.1rem;
      left: 0;
      color: #64ffda; }

.section--experience {
  padding-top: 10rem;
  padding-bottom: 10rem;
  padding-left: 30rem; }
  .section--experience__container {
    display: flex; }
    .section--experience__container-company {
      width: 12rem;
      margin-right: 5rem; }
      .section--experience__container-company ul {
        list-style: none;
        font-size: 1.6rem;
        font-weight: 600;
        font-family: "PT Mono", monospace; }
        .section--experience__container-company ul li {
          padding: 1.5rem 2.5rem;
          cursor: pointer;
          transition: all .3s;
          border-left: 1.5px solid #8892b0; }
          .section--experience__container-company ul li:hover {
            background: rgba(100, 255, 218, 0.15); }
    .section--experience__container-description {
      margin-top: 1.5rem;
      font-size: 1.6rem; }
      .section--experience__container-description p {
        margin-bottom: 2rem; }
        .section--experience__container-description p:not(:first-child) {
          width: 45rem;
          position: relative;
          padding-left: 2rem; }
          .section--experience__container-description p:not(:first-child)::after {
            content: "▹";
            display: table;
            position: absolute;
            top: -.1rem;
            left: 0;
            color: #64ffda; }

.section-projects {
  padding: 12rem 18rem; }

.row {
  max-width: 133rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col"] {
    float: left; }
    .row [class^="col"]:not(:last-child) {
      margin-right: 8rem; }

.col-1-of-3 {
  width: calc((100% - 2 * 8rem) / 3); }

.col-2-of-3 {
  width: calc((2 *(100% - 2 * 8rem) / 3) + 8rem); }

.col-1-of-2 {
  width: calc((100% - 8rem) / 2); }

.paragraph {
  font-size: 4rem;
  margin-bottom: 1.5rem; }
  .paragraph-1 {
    font-size: 1.6rem;
    margin-bottom: 1.5rem; }
  .paragraph-2 {
    font-size: 1.6rem;
    font-weight: 500;
    font-family: "PT Mono", monospace;
    margin-bottom: 2rem; }
  .paragraph-3 {
    font-size: 3rem; }

.heading-primary {
  font-size: 4rem;
  font-weight: lighter; }
  .heading-primary-1 {
    margin-bottom: 2rem;
    font-weight: 800;
    font-size: 7rem;
    font-family: "Noto Sans TC", sans-serif; }

.heading-tertiary {
  font-size: 2rem; }

.heading__secondary {
  margin-bottom: 4rem;
  font-size: 3rem;
  font-family: "Noto Sans TC", sans-serif;
  position: relative; }
  .heading__secondary-1 {
    font-size: 5rem; }
  .heading__secondary span {
    font-family: "PT Mono", monospace;
    font-size: 2.5rem;
    padding-right: 1rem;
    color: #64ffda; }
  .heading__secondary::after {
    content: "";
    width: 30rem;
    height: 10rem;
    position: absolute; }

.color-change {
  color: #e6f1ff; }

.changed-color {
  color: #64ffda; }

.current {
  color: #64ffda;
  border-left: 2px solid #64ffda !important; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-family: "Roboto", serif;
  background: #0a192f;
  color: #ccd6f6; }
