.main{
    position: relative;
}
.section--hero{
    padding: 7rem 18rem;
}

.section--about{
    padding: 15rem 18rem;
    

    &__list{
        width: 100%;
        display: flex;
        font-size: $default-font-size;
        flex-wrap: wrap;
    }

    &__item{
        
        :not(:last-child){
            padding-right: 4rem;
        }

        p{
           margin-bottom: 2rem;
           position: relative;
           padding-left: 2rem;

           &::after{
               content: "▹";
               display: table;
               position: absolute;
               top: -.1rem;
               left: 0;
               color: $color-secondary;
          }
        }
    }
}

.section--experience{
   padding-top: 10rem;
   padding-bottom: 10rem;
   padding-left: 30rem;

   &__container{
       display: flex;

       &-company{
           width: 12rem;

           ul{
               list-style: none;
               font-size: $default-font-size;
               font-weight: 800;
               font-family: $font-secondary;
              
               li{
                   padding: 1.5rem 2.5rem;
                   cursor: pointer;
                   transition: all .3s;
                   border-left: 2px solid $color-text-1;

                   &:hover{
                       background: rgba($color-secondary, .15);
                   }
               }
           }
       }
      
       &-description{
        margin-right: 5rem;
        max-width: 30rem;
     }
   }

   
}