$color-primary: #0a192f;
$color-primary-light: #333f58;
$color-primary-dark: #172a45;

$color-text-1: #8892b0;
$color-text-2: #a8b2d1;
$color-text-3: #ccd6f6;
$color-white-prime: #e6f1ff;

$color-secondary: #64ffda;

// fonts

$font-primary:'Roboto', serif;
$font-heading:'Noto Sans TC', sans-serif;
$font-secondary:'PT Mono', monospace;

$grid-width: 133rem;
$gutter-horizontal: 8rem;
$default-font-size: 1.6rem;