.btn{
    &:visited, &:link{
        text-decoration: none;
        font-size: $default-font-size;
        margin-top: 6rem;
        padding: 2rem 5rem;
        border: 2px solid $color-secondary;
        display: inline-block;
        border-radius: 4px;
        font-family: $font-secondary;
        color: $color-secondary;
        transition: all .3s;
        
        &:hover, &:active{
            background: rgba($color-secondary, .15);
            transform: translateY(-3px);
            box-shadow: 0 1rem 3rem rgba($color-primary-light, .15);
        }

    }
}